* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.calculator {
    background-color: red;
    border-radius: 24px;
    box-shadow: 0 10px 20px rgba(105, 105, 105, 0.4);
    padding: 24px;
    width: 350px;
}

.display {
    background-color: red;
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 16px;
    text-align: right;
    color: white;
    font-size: 25px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

button {
    background-color: red;
    border: none;
    border-radius: 10px;
    padding: 16px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

button:hover {
    background-color: red;
}

button:active {
    transform: translateY(2px);
}

.number {
    color: #000;
}

.operation {
    color: white;
}

.zero {
    color: white;
    grid-column: span 2;
}

#clear, #memory, #percent {
    color: gray;
}